<div class="animate__animated animate__bounceInDown">
  <h2>Por pais</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar Pais..."
      ></app-pais-input>
    </div>
  </div>
  <ul *ngIf="mostrarSugerencias" class="list-group">
    <li class="list-group-item list-group-item-action">
      <a (click)="buscarSugerido(termino)" class="nav-link"
        >Buscar "{{ termino }}"</a
      >
    </li>
    <li
      *ngFor="let pais of paisesSugeridos"
      class="list-group-item list-group-item-action"
    >
      <a class="nav-link" [routerLink]="['/pais', pais.cca2]">{{
        pais.name.common
      }}</a>
    </li>
  </ul>
  <hr />
</div>
<div class="alert alert-danger" *ngIf="hayError">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-table [paises]="paises"></app-pais-table>
  </div>
</div>
