<div class="animate__animated animate__bounceInDown">
  <h2>Por pais</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar Pais..."
      ></app-pais-input>
    </div>
  </div>

  <hr />
</div>
<div class="alert alert-danger" *ngIf="hayError">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-table [paises]="paises"></app-pais-table>
  </div>
</div>
