<h3>
  Buscar por region <small>{{ regionActiva | titlecase }}</small>
</h3>
<hr />

<h5>Sellecione la region</h5>

<div class="row">
  <div class="col">
    <!-- [class.btn-primary]="reg === regionActiva" -->
    <!-- [ngClass]="{
        'btn-primary': regionActiva === reg,
        'btn-outline-primary': regionActiva !== reg
      }" -->
    <!-- class="btn btn-outline-primary mr-1" -->
    <button
      *ngFor="let reg of region"
      [class]="
        reg === regionActiva ? 'btn btn-primary' : 'btn btn-outline-primary'
      "
      (click)="activateRegion(reg)"
    >
      {{ reg }}
    </button>
  </div>
</div>
<!--
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar region..."
    ></app-pais-input>
  </div>
</div>

<hr />
<div class="alert alert-danger" *ngIf="hayError">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="regiones.length > 0" class="row">
  <div class="col">
    <app-pais-table [paises]="regiones"></app-pais-table>
  </div>
</div> -->
